[data-page="clube"] {
  .main {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
    
    &::before, &::after {
      content: "";
      height: 30px;
      bottom: 0;
      position: absolute;
    }

    &::before {
      left: 0;
      width: 65%;
      background-color: $primary_dark_blue;
    }

    &::after {
      right: 0;
      width: 35%;
      background-color: $secondary_red;
    }

    img { max-width: 50vw; max-height: 50vh; }
  }

  .content { padding: 0; }

  .logo {
    &-options,
    &-options-mono {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      @media (max-width: 680px) {
        flex-direction: column;
      }

      > div {
        display: flex;
        
        &:nth-child(1) {
          width: 35%;
          padding: 20px;
  
          @media (max-width: 680px) {
            width: 100%;
          }
  
          div {
            display: flex;
            flex-direction: column;
          }
        }

        &:nth-child(2) {
          width: 65%;

          img { max-height: 175px; }
        }
      }
    }

    &-options {
      min-height: calc(100vh - 35px); 

      > div {
        min-height: inherit;
        flex-direction: column;

        &:nth-child(1) {
          text-align: center;
          align-items: center;
          justify-content: space-evenly;

          img { max-height: 240px; }
  
          span {
            text-align: left;
            text-transform: uppercase;
            font-family: $font_neo;
            line-height: 1.3;
            color: $primary_white;
            padding: 10px;
            padding-left: 110px;
  
            &:nth-child(1) { background-color: $secondary_red; }
            &:nth-child(2) {
              margin-top: 10px;
              background-color: $auxiliary_blue;
            }
          }
        }

        &:nth-child(2) {
          @media (max-width: 680px) {
            flex-grow: unset;
            width: 100%;
          }
  
          div {
            flex-grow: 1;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 40px 0;
  
            &:nth-child(1) {
              background-color: $primary_white;
  
              @media (max-width: 680px) {
                padding-top: 50px;
              }
            }
  
            &:nth-child(2) { background-color: $auxiliary_light_orange; }
            &:nth-child(3) { background-color: $primary_dark_blue; }
          }
  
          span {
            top: 30px;
            left: 30px;
            position: absolute;
            color: $primary_dark_blue;
            font-family: $font_neo;
            font-size: 20px;
          }
        }
      };
    }

    &-options-mono {
      > div {
        &:nth-child(1) {
          color: $primary_dark_blue;
          font-family: $font_neo;
          line-height: 1.3;
          font-size: 20px;
        }

        &:nth-child(2) {
          display: flex;

          @media (max-width: 680px) {
            width: 100%;
            flex-direction: column;
          }

          > div {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            text-align: center;

            @media (max-width: 680px) {
              width: 100%;
            }

            > div { padding: 20px; }

            &:nth-child(1) {
              > div {

                &:nth-child(1),
                &:nth-child(2) {
                  width: 50%;

                  @media (max-width: 680px) {
                    width: 100%;
                  }
                }
  
                &:nth-child(1) { background-color: $secondary_red; }
                &:nth-child(2) { background-color: $primary_dark_blue; }
                &:nth-child(3) {
                  width: 100%;
                  background-color: #211f20;
                }
              }
            }

            &:nth-child(2) {
              > div {
                width: 50%;

                @media (max-width: 680px) {
                  width: 100%;
                }
  
                &:nth-child(1) { background-color: #211f20; }
              }
            }
          }
        }
      }
    }
  }

  .tips-margin {
    display: flex;
    padding: 40px 20px;
    margin-top: 40px;
    min-height: 100vh;
    position: relative;

    @media (max-width: 680px) {
      min-height: unset;
    }
    
    &::before, &::after {
      content: "";
      height: 30px;
      bottom: 0;
      position: absolute;
    }

    &::before {
      left: 0;
      width: 65%;
      background-color: $primary_dark_blue;
    }

    &::after {
      right: 0;
      width: 35%;
      background-color: $secondary_red;
    }

    @media (max-width: 780px) {
      flex-direction: column;
    }

    > div {
      width: 50%;
      display: flex;
      flex-direction: column;

      @media (max-width: 780px) {
        width: 100%;
      }

      &:nth-child(1) img {
        max-width: 50%;
        margin: auto;
      }
      
      &:nth-child(2) img {
        margin-left: 5%;

        @media (max-width: 780px) {
          margin-left: 0;
        }
      }
    }

    span {
      display: block;
      color: $primary_dark_blue;
      font-size: 20px;
      font-family: $font_neo;
      line-height: 1.3;
      max-width: 230px;

      @media (max-width: 780px) {
        max-width: 100%;
        margin: 40px 0;
      }
    }

    img {
      margin-top: auto;
      margin-bottom: auto;
      max-width: 95%;

      @media (max-width: 780px) {
        max-width: 100%;
      }
    }
  }

  .other-brands {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    strong {
      font-family: $font_neo;
      color: $primary_dark_blue;
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 40px;
    }

    > div {
      display: flex;
      justify-content: space-evenly;

      @media (max-width: 800px) {
        flex-direction: column;
        align-items: center;
      }

      img {
        max-height: 130px;

        @media (max-width: 800px) {
          max-height: 100px;
          
          &:not(:last-child) { margin-bottom: 40px; }
        }
      }
    }
  }

  .not-todo {
    padding: 40px 0;

    p {
      font-size: 30px;
      color: $primary_dark_blue;
      font-family: $font_neo;

      i { text-decoration: underline; }
      
      &.title {
        font-weight: 700;
        margin-bottom: 60px;
  
        i { text-decoration: underline; }
      }
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      text-align: center;

      > div {
        width: 25%;
        min-height: 150px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        @media (max-width: 800px) {
          width: 50%;
          min-height: 250px;
        }

        @media (max-width: 420px) {
          width: 100%;
          min-height: 250px;
        }
      }

      span {
        font-size: 18px;
        color: $primary_dark_blue;
        font-family: $font_neo;
      }

      img { max-width: 90%; }
    }
  }
}