section {
  min-height: 100vh;
}

.container {
  max-width: 1800px;
  margin: auto;
  padding: 0 40px;
}

.content {
  padding-top: 35px;
  position: relative;
}

img {
  max-width: 100%;
}

.divider {
  padding: 40px;
  display: flex;
  flex-direction: column;
  font-family: $font_neo;
  line-height: 1.3;
  color: $primary_dark_blue;

  &.dark {
    color: $primary_white;
    background: linear-gradient(90deg, $auxiliary_blue 0%, $primary_dark_blue 30%, $primary_dark_blue 50%, $auxiliary_blue 100%);
  }

  span { font-size: 20px; }

  strong {
    font-size: 30px;
    font-weight: 700;

    small {
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.download {
  padding: 30px 0;
  background-color: $secondary_gray;

  @media (max-width: 810px) {
    nav {
      display: flex;
      flex-direction: column;
    }
  }

  p {
    color: $primary_white;
    font-family: $font_neo;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  
  a {
    text-decoration: none;
    color: $primary_dark_blue;
    font-family: $font_neo;
    font-size: 20px;

    @media (max-width: 520px) {
      line-height: 2;
    }

    @media (max-width: 460px) {
      .noMobile { display: none; }
    }

    &:not(:last-of-type) { margin-right: 40px; }

    svg {
      width: 40px;
      height: 40px;
      fill: $primary_dark_blue;
      margin-left: 15px;

      @media (max-width: 520px) {
        display: none;
      }
    }
  }
}