//
// Neo Sans Pro
//

@font-face {
  font-family: 'Neo Sans Pro';
  src: url('../assets/fonts/neosanspro/NeoSansPro-BoldItalic.woff2') format('woff2'),
      url('../assets/fonts/neosanspro/NeoSansPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neo Sans Pro';
  src: url('../assets/fonts/neosanspro/NeoSansPro-Italic.woff2') format('woff2'),
      url('../assets/fonts/neosanspro/NeoSansPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neo Sans Pro';
  src: url('../assets/fonts/neosanspro/NeoSansPro-Bold.woff2') format('woff2'),
      url('../assets/fonts/neosanspro/NeoSansPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neo Sans Pro';
  src: url('../assets/fonts/neosanspro/NeoSansPro-Light.woff2') format('woff2'),
      url('../assets/fonts/neosanspro/NeoSansPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neo Sans Pro';
  src: url('../assets/fonts/neosanspro/NeoSansPro-LightItalic.woff2') format('woff2'),
      url('../assets/fonts/neosanspro/NeoSansPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neo Sans Pro';
  src: url('../assets/fonts/neosanspro/NeoSansPro-Medium.woff2') format('woff2'),
      url('../assets/fonts/neosanspro/NeoSansPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neo Sans Pro';
  src: url('../assets/fonts/neosanspro/NeoSansPro-Regular.woff2') format('woff2'),
      url('../assets/fonts/neosanspro/NeoSansPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//
// Interstate
//

@font-face {
  font-family: 'Interstate';
  src: url('../assets/fonts/interstate/Interstate-Italic.woff2') format('woff2'),
      url('../assets/fonts/interstate/Interstate-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Interstate';
  src: url('../assets/fonts/interstate/Interstate-Bold.woff2') format('woff2'),
      url('../assets/fonts/interstate/Interstate-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Interstate';
  src: url('../assets/fonts/interstate/Interstate-Light.woff2') format('woff2'),
      url('../assets/fonts/interstate/Interstate-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Interstate';
  src: url('../assets/fonts/interstate/Interstate-BoldItalic.woff2') format('woff2'),
      url('../assets/fonts/interstate/Interstate-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Interstate';
  src: url('../assets/fonts/interstate/Interstate-Regular.woff2') format('woff2'),
      url('../assets/fonts/interstate/Interstate-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Interstate';
  src: url('../assets/fonts/interstate/Interstate-LightItalic.woff2') format('woff2'),
      url('../assets/fonts/interstate/Interstate-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

