$font_neo: "Neo Sans Pro";
$font_inter: "Interstate";
$font_lato: "Lato";
$font_arial: "Arial";

$primary_white: #ffffff;
$primary_dark_blue: #0054a4;
$secondary_red: #ee3124;

$secondary_gray: #adafb2;
$secondary_gray_80: #bebfc1;
$secondary_gray_60: #cecfd1;
$secondary_gray_40: #dedfe0;
$secondary_gray_20: #efeff0;

$auxiliary_light_orange: #ffc425;
$auxiliary_light_orange_80: #ffd051;
$auxiliary_light_orange_60: #ffdc7c;
$auxiliary_light_orange_40: #ffe7a8;
$auxiliary_light_orange_20: #fff3d3;

$auxiliary_orange: #f68a33;
$auxiliary_orange_80: #f8a15c;
$auxiliary_orange_60: #fab985;
$auxiliary_orange_40: #fbd0ad;
$auxiliary_orange_20: #fde8d6;

$auxiliary_purple: #766aab;
$auxiliary_purple_80: #8b80b8;
$auxiliary_purple_60: #a399c7;
$auxiliary_purple_40: #bdb7d8;
$auxiliary_purple_20: #dbd7ea;

$auxiliary_blue: #007dc3;
$auxiliary_blue_80: #3397cf;
$auxiliary_blue_60: #66b1db;
$auxiliary_blue_40: #99cbe7;
$auxiliary_blue_20: #cce5f3;

$auxiliary_light_blue: #00b5cc;
$auxiliary_light_blue_80: #33c4d6;
$auxiliary_light_blue_60: #66d3e0;
$auxiliary_light_blue_40: #99e2eb;
$auxiliary_light_blue_20: #ccf0f5;

$auxiliary_light_green: #d5e04e;
$auxiliary_light_green_80: #dee671;
$auxiliary_light_green_60: #e6ec95;
$auxiliary_light_green_40: #eef3b8;
$auxiliary_light_green_20: #f7f9dc;

$auxiliary_green: #54b948;
$auxiliary_green_80: #76c76c;
$auxiliary_green_60: #98d591;
$auxiliary_green_40: #bbe3b6;
$auxiliary_green_20: #ddf1da;